<% if @list.errors.presence %>
  <ul>
    <% @list.errors.each do |error, message| %>
      <li>
        <%= "#{error.capitalize} #{message}" %>
      </li>
    <% end %>
  </ul>
  
<% end %>

<div class="form container">
  <%= form_for @list do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :duedate %>
      <%= f.text_field :duedate %>
    </div>
    <div class="form-group">
      <%= f.label :note %>
      <%= f.text_area :note %>
    </div>
    
    <%= f.submit %>

  <% end %>
</div>